body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.leftImage,
.rightInfo {
  flex: 1;
  padding: 1em;
  text-align: center;
}

.aboutInfo {
  font-size: 18px;
  margin-top: 1em;
}

#header {
  font-size: 40px;
}

.strong {
  font-weight: 500;
}

button {
  font-size: 20px;
  color: white;
  background-color: #222121;
  padding: 0.4em 1.5em;
  border: none;
  border-radius: 5px;
  margin-top: 1.5em;
  cursor: pointer;
}

.icons {
  margin-top: 1.5em;
}

.icons i {
  margin-right: 30px;
}

#image {
  max-width: 100%;
  margin-top: 3em;
}

/* Media Queries */
@media only screen and (max-width: 1200px) {
  .container {
    flex-direction: column;
  }
  
  .leftImage, .rightInfo {
    max-width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  #header {
    font-size: 30px;
  }

  .rightInfo {
    font-size: 12px;
  }

  .aboutInfo {
    font-size: 16px;
  }

  button {
    font-size: 18px;
  }

  .icons i {
    margin-right: 20px;
  }
}
